.filter-dropdown {
  padding: 20px;
}

.filter-dropdown h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-options li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.filter-options li::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: 2px solid #999;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filter-options li.active::before {
  border-color: #395bd3;
  background-color: #395bd3;
  border: 1px solid #395bd3;
}

.filter-options li:hover::before    {
  border-color: #395bd3;
}

.filter-options input[type="radio"] {
  display: none;
}
