/* Base styles */
.header {
  width: 90%;
  max-width: 1200px; /* Adjust based on your design */
  margin: auto;
  box-shadow: 0px 4px 16px 0px #c1c1c140;
  border-radius: 16px;
}

.task-management-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  border-radius: 16px;
}

.task-management-text {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
  line-height: 30px;
  flex: 1 1 auto; /* Allow text to take available space */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .task-management-container {
    flex-direction: column;
    align-items: flex-start; /* Align items to start when stacked vertically */
    padding: 16px;
  }

  .task-management-text {
    font-size: 20px;
    margin-left: 0; /* Remove margin on smaller screens */
    margin-bottom: 16px; /* Add space below text */
  }

  .new-task-button {
    width: 100%;
    max-width: 150px; /* Set max width for button */
    height: 45px; /* Slightly larger button on smaller screens */
  }
}

@media (max-width: 480px) {
  .task-management-text {
    font-size: 18px;
    line-height: 24px; /* Adjust line height for smaller text */
  }

  .new-task-button {
    height: 50px; /* Larger button on very small screens */
  }
}
