.tooltip-container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.tooltip {
  position: absolute;
  background-color: #0c1049;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  white-space: normal;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  max-width: 200px;
  width: auto;
  box-sizing: border-box;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  transform: translateY(-10px);
  margin: 10px;
}

.tooltip-container .tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #0c1049 transparent; /* Arrow pointing up */
  bottom: 100%; /* Positions the arrow above the tooltip */
  left: 10%;
  transform: translateX(-50%);
}

.tooltip span {
  width: 20px;
  line-gap-override: 10px;
}
