.header {
  width: 50%;
  margin: auto;
}

.task-management-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px; /* Adjust padding as needed */
  background-color: #ffffff; /* Adjust background color as needed */
  margin-top: 1rem;
  border-radius: 16px;
}

.task-management-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px; /* Adjust left margin for spacing */
}

.new-task-button {
  padding: 5px 10px;
  background-color: #395BD3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Center the content vertically */
}



.new-task-button .plus-icon {
  margin-right: 5px; /* Adjust spacing between icon and text */
}
